doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
        title May's Zoom
    body 
        header 
            h1 Welcome to May's Zoom
        main            
            div#welcome
                form
                    input#roomName(placeholder="Which room do you want to join?" required, type="text")
                    input#name(placeholder="Put your nickname here!" required, type="text")
                    button Enter Room
            div#room
                h3
                ul
                form#name
                    input(placeholder="Nickname" required, type="text")
                    button Click!
                form#msg
                    input(placeholder="Message" required, type="text")
                    button Send!

    script(src="/socket.io/socket.io.js") 
    script(src="/public/js/app.js") 